page-origen-destino {

	.inputColor{
		color: #1F365B;
		font-weight:bold;

	}

	.botonLogin{
		color: white;
		background: #1F365B;
		float:none;
		text-align:center;
		display: block;
	}

	ion-auto-complete {
		width: 100%;
		font-weight: bold;
		color: #1F365B;
	}

	.spinner-container {
		width: 100%;
		text-align: center;
		padding: 10px;
	}

	.searchbar-md .searchbar-input {
		font-weight: bold;
		color: #1F365B;
	}




}
