page-modal-politicas {

  .stylePoliticas {
      font-size: 16px;
      text-align: center;
  }

  .styleSubTitle {
      font-size: 12px;
      text-align: center;
  }

  .styleBodyPoliticas {
      font-size: 14px;
      text-align: justify;
      text-justify: inter-word;
  }

}
