page-home {

	agm-map {
		  height: 100% !important;
	}

	.mapa{
		position: relative;
		padding: 0 1rem;
		margin: 1rem;
	}


	.datos4{
		position: absolute;
		color: #1F365B;
		width: 85%;
		margin-left: auto;
		margin-right: auto;
	}

	.center {
		margin-left: auto;
		margin-right: auto;
		display: block;
		position: relative;
	}

	.titleInfo {
		font-size: 18px;
	}







}
