<ion-header>
  <ion-navbar color="azulJectapp">
    <ion-buttons end>
        <button ion-button icon-only>
          <img src="assets/recursos/jectapp-logo-esquina.png" />
        </button>
    </ion-buttons>

    <ion-title>Registro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="datosUsuario">

    <div padding-bottom="10px">
        <h5><b>Por favor llena los siguientes datos para crear una cuenta en Jectapp.</b></h5>
    </div>

    <form [formGroup]="myForm" (ngSubmit)="saveData()">
      <ion-list>
        <ion-item class="fondoInput">
          <ion-label class="attrLabel"><ion-icon name="contact"></ion-icon> Nombres</ion-label>
          <ion-input formControlName="nombre" type="text" class="inputColor"></ion-input>
        </ion-item>
        <ion-item *ngIf="myForm.get('nombre').errors && myForm.get('nombre').dirty">
          <p color="danger" ion-text *ngIf="myForm.get('nombre').hasError('required')">Campo requerido</p>
          <p color="danger" ion-text *ngIf="myForm.get('nombre').hasError('minlength')">Ingresar minimo 6 caracteres</p>
        </ion-item>
        <br>

        <!--<ion-item class="fondoInput">
          <ion-label class="attrLabel"><ion-icon name="contact"></ion-icon> Usuario</ion-label>
          <ion-input formControlName="usuario" type="text" class="inputColor" (focus)="borrarExiste()" (focusout)="verificaUsuario()"></ion-input>
        </ion-item>
         <ion-item *ngIf="myForm.get('usuario').errors && myForm.get('usuario').dirty">
          <p color="danger" ion-text *ngIf="myForm.get('usuario').hasError('required')">Campo requerido</p>
          <p color="danger" ion-text *ngIf="myForm.get('usuario').hasError('minlength')">Ingresar minimo 6 caracteres</p>
        </ion-item>
        <ion-item *ngIf="existe">
          <p color="danger" ion-text>Nombre de usuario ya esta en uso</p>
        </ion-item>

        <br>-->

        <ion-item class="fondoInput">
          <ion-label class="attrLabel"><ion-icon name="contact"></ion-icon> Email</ion-label>
          <ion-input formControlName="email" type="email" class="inputColor"></ion-input>
        </ion-item>
        <ion-item *ngIf="myForm.get('email').errors && myForm.get('email').dirty">
          <p color="danger" ion-text *ngIf="myForm.get('email').hasError('required')">Campo requerido</p>
          <p color="danger" ion-text *ngIf="myForm.get('email').hasError('email')">No tiene formato de email</p>
        </ion-item>
        <ion-item *ngIf="existeMail">
          <p color="danger" ion-text>Correo electronico ya esta en uso</p>
        </ion-item>
        <br>

        <ion-item class="fondoInput">
          <ion-label class="attrLabel"><ion-icon name="contact"></ion-icon> Contraseña</ion-label>
          <ion-input formControlName="password" type="password" class="inputColor"></ion-input>
        </ion-item>
        <ion-item *ngIf="myForm.get('password').errors && myForm.get('password').dirty">
          <p color="danger" ion-text *ngIf="myForm.get('password').hasError('required')">Campo requerido</p>
          <p color="danger" ion-text *ngIf="myForm.get('password').hasError('pattern')">No es una contraseña segura</p>
        </ion-item>
        <br>

        <ion-item class="fondoInput">
          <ion-label class="inputColor">Permitir notificaciones</ion-label>
          <ion-checkbox formControlName="notificacion"></ion-checkbox>
        </ion-item>

        <br>

        <ion-item class="fondoInput">
          <ion-label class="inputColor">Acepto términos y condiciones</ion-label>
          <ion-checkbox formControlName="politicas" (ionChange)="modalPoliticas($event)" required></ion-checkbox>
        </ion-item>
        <ion-item *ngIf="errPoliticas === false">
          <p color="danger" ion-text *ngIf="errPoliticas === false">Por favor acepta los términos y condiciones.</p>
        </ion-item>


      </ion-list>
      <div padding>
        <button ion-button block type="submit" [disabled]="!myForm.valid || errPoliticas === false" class="botonRegistro">REGISTRARSE</button>
      </div>
    </form>
  </div>

</ion-content>